<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName()+', '+book.getAuthor()+', '+book.getYearOfPublish()}">value</p>
<p th:text="${book.getAuthor()}">value</p>

<form th:unless="${book.getOwner()}" th:method="PATCH" th:action="@{/books/{id}/reserve(id=${book.getId()})}">
    <div>Эта книга свободна</div>
    <label for="person">Выберите человека:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getFio()}"></option>
    </select>
    <input type="submit" value="Назначить книгу">
</form>

<form th:if="${book.getOwner()}" th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <p th:text="${'Книга сейчас у: '+book.getOwner().getFio()}">val</p>
    <input type="submit" value="Освободить книгу">
</form>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>